<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="" />
    {% block link %}{% endblock%}
  </head>
  <body>
    <div class="main">
      <header class="main-header">
        <h1>My Main Header</h1>
      </header>
      <nav class="main-nav">
        <span>courses</span>
        <span>blog</span>
        <span>login</span>
        <span>sign-up</span>
      </nav>
    </div>
    <div class="container">{% block content %} {% endblock %}</div>
    <div class="main-footer">
      <footer>
        <h3>My Footer</h3>
      </footer>
    </div>
  </body>
</html>
